<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <!-- Css -->
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/general.css' %}" >
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'mostrarmenuuser' %}"><img class="imgt" src="{% static 'core/img/LOGO/toshivelogo2.png' %}" alt="sin imagen"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                {% if user.is_authenticated %} 
                  {{user.username}}
                {% else %}
                Cuenta
                {% endif %}
              </a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %} 
                <li><a class="dropdown-item" href="{% url 'PerfilUser' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesion</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'registroAlternativo' %}">Registrate</a></li>
                <li><a class="dropdown-item" href="{% url 'zinicio' %}">Inicia Sesion</a></li>
                {% endif %}
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'carrito' %}">Carrito</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %} 
              <a class="nav-link active" href="{% url 'seguimiento' %}">Seguimiento</a>
            {% endif %}
          </li>
      </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar">
          <button class="btn btn-primary" type="button">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <marquee width="100%" direction="left" height="30px" style="background-color: #99cc00; color: #fffdfd">
    Suscribete a nuestra fundación sin fines de lucro, donando directamente a esta y recibe un 5% de descuento en el total de tu compra.
    </marquee>

    <div class="container">
       
        <div class="row justify-content-center" style="margin-top: 80px;">
            <div class="col-md-4">
                <img class="imgp" src="{{ dato.foto.url }}" alt="Sin imagen">
            </div>

            <div class="col-md-8" style="text-align: left;">
                <p>
                    <div class="text-product" style="text-align: left;">
                        <p>{{ dato.idProducto }}</p>
                        <p>{{ dato.tipo.descripcion }}</p>
                      </div>
                    <h3>{{ dato.nombreProducto }}</h3>
                    <h4>${{ dato.precio }} </h4>
                    <h5>Productos disponibles: {{ dato.stock }} </h5>
                    
                    {{ dato.descripcionProducto }}
                </p>
                {% if dato.stock > 0 %}
                <a href="{% url 'agregar' dato.idProducto %}" class="btn btn-primary">
                    Agregar al carrito
                </a>
                {% else %}
                <a href="#" class="btn btn-primary">
                  No hay productos disponibles
                </a>
                {% endif %}
            </div>
        </div>
        
    </div>
    <footer>
        <p> Copyright © Toshive Pet 2023 </p>
    </footer>  
    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    
</body>
</html>